@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway/raleway-regular.woff2) format('woff2'),
        url(../fonts/Raleway/raleway-regular.woff) format('woff'),
        url(../fonts/Raleway/raleway-regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway/raleway-medium.woff2) format('woff2'),
        url(../fonts/Raleway/raleway-medium.woff) format('woff'),
        url(../fonts/Raleway/raleway-medium.ttf) format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway/raleway-semibold.woff2) format('woff2'),
        url(../fonts/Raleway/raleway-semibold.woff) format('woff'),
        url(../fonts/Raleway/raleway-semibold.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway/raleway-bold.woff2) format('woff2'),
        url(../fonts/Raleway/raleway-bold.woff) format('woff'),
        url(../fonts/Raleway/raleway-bold.ttf) format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway/raleway-extrabold.woff2) format('woff2'),
        url(../fonts/Raleway/raleway-extrabold.woff) format('woff'),
        url(../fonts/Raleway/raleway-extrabold.ttf) format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/montserrat-extralight.woff2) format('woff2'),
        url(../fonts/Montserrat/montserrat-extralight.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-extralight.ttf) format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/montserrat-light.woff2) format('woff2'),
        url(../fonts/Montserrat/montserrat-light.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-light.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/montserrat-regular.woff2) format('woff2'),
        url(../fonts/Montserrat/montserrat-regular.woff) format('woff'),
        url(../fonts/Montserrat/montserrat-regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto/roboto-regular.woff2) format('woff2'),
        url(../fonts/Roboto/roboto-regular.woff) format('woff'),
        url(../fonts/Roboto/roboto-regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: 'raleway', 'montserrat', sans-serif;
    max-width: 1920px;
}

.header {
    background-image: url(../img/header_bg_photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 0 0;
}

.menu {
    display: flex;
    margin: 0 auto;
    max-width: 1167px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    text-decoration: none;
    color: #fff;
    margin: 0 219px 0 0;
}

.logo-svg {
    fill: currentColor;
}

.logo-txt {
    font-family: 'raleway';
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.logo:hover {
    color: #998675;
}

.logo:active {
    color: #fff;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    margin: 0 33px 0 0;
    padding: 0;
}

.nav-bar-list-item {
    margin: 0 28px 0 0;
}

.header-link {
    color: #ffffff;
    text-decoration: none;
}

.header-link:hover {
    color: #c7b299;
}

.header-link:active {
    color: #fff;
}

.bascket {
    color: #fff;
    outline: none;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0 28px 0 0;
}

.bascket:hover {
    color: #c7b299;
}

.bascket:active {
    color: #fff;
}

.bascket-svg {
    fill: currentColor;
}

.search-form {
    width: 25px;
    height: 25px;
    position: relative;
}

.search-label {
    display: block;
    width: 100%;
    height: 100%;
}

.search-label:hover .search-svg {
    fill: #c7b299;
}

.search-label:active .search-svg {
    fill: #fff;
}

.search-svg {
    fill: #fff;
    width: 100%;
    height: 100%;
}

.search-input {
    padding: 0;
    width: 0;
    min-height: 0;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    left: 3px;
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-transform: capitalize;
}

.search-input:focus {
    display: block;
    width: 200px;
    height: 20px;
    border-bottom: 1px solid #c7b299;
    transition: width 1s ease;
}

.hamburger-menu {
    display: none;
}

.carusel {
    display: flex;
    flex-wrap: wrap;
    margin: 277px auto 0;
    max-width: 1630px;
    justify-content: space-between;
}

.offer {
    text-align: center;
    max-width: 589px;
    position: relative;
}

.offer-left-btn {
    width: 40px;
    height: 73px;
    background-image: url(../img/left_arrow.svg);
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    margin: 100px 0 0 5px;
}

.offer-left-btn:hover {
    background-image: url(../img/left_arrow_hover.svg);
}

.offer-left-btn:active {
    background-image: url(../img/left_arrow.svg);
}

.offer-right-btn {
    width: 40px;
    height: 73px;
    background-image: url(../img/right_arrow.svg);
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    margin: 100px 5px 0 0;
}

.offer-right-btn:hover {
    background-image: url(../img/right_arrow_hover.svg);
}

.offer-right-btn:active {
    background-image: url(../img/right_arrow.svg);
}

.offer-subtitle {
    display: block;
    font-family: 'raleway';
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 3px 0;
}

.offer-title {
    display: block;
    font-family: 'raleway';
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
    margin: 0 0 11px 0;
}

.offer-txt {
    display: block;
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.offer-btn {
    display: block;
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3px;
    padding: 0;
    margin: 49px auto 0;
    outline: none;
    border: none;
    font-family: 'raleway';
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}

.offer-btn:hover {
    background-color: #fff;
    color: #998675;
}

.offer-btn:active {
    background-color: #998675;
    color: #fff;
}

.carusel-pagination {
    width: 100%;
    margin: 325px 0 45px 0;
    display: flex;
    justify-content: center;
}

.carusel-pagination-btn {
    display: block;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    margin: 0 10px 0 0;
    padding: 0;
    outline: none;
}

.carusel-pagination-btn:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.5);
}

.carusel-pagination-btn:active {
    opacity: 0.5;
    background-color: #fff;
}

.features {
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0;
}

.features-box {
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-icon {
    display: block;
    margin: 0 auto 29px;
    width: 100%;
    fill: #555555;
}

.features-title {
    text-align: center;
    font-family: 'raleway';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 auto 13px;
}

.features-txt {
    text-align: center;
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 auto 30px;
}

.features-box:after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 0 80px 0;
}

.features-box:hover .features-icon {
    fill: #c7b299;
}

.features-box:hover .features-title {
    color: #c7b299;
}

.features-box:hover:after {
    background-color: #c7b299;
    margin: 0 0 80px 0;
}

.ideas {
    background-color: #fbfaf8;
    padding: 66px 0 0 0;
}

.ideas-title {
    display: block;
    text-align: center;
    font-family: 'raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.ideas-txt {
    max-width: 770px;
    text-align: center;
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 15px auto 0;
}

.ideas-screenshots {
    max-width: 1230px;
    min-height: 486px;
    margin: 30px auto 0;
    background-image: url(../img/ideas_pic1.png),
        url(../img/ideas_pic2.png),
        url(../img/ideas_pic3.png);
    background-repeat: no-repeat;
    background-size: 63%, 62%, 62%;
    background-position: bottom center, bottom left, bottom right;
}

.purchase {
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
    padding: 48px 19.5% 48px 19.5%;
    align-items: center;
}

.purchase-title {
    display: block;
    font-family: 'raleway';
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}

.purchase-txt {
    font-family: 'montserrat';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
    margin: 0;
}

.purchase-btn {
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    background-color: #998675;
    border-radius: 3px;
    font-family: 'raleway';
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    outline: none;
    border: none;
}

.purchase-btn:hover {
    background-color: #fff;
    color: #998675;
}

.purchase-btn:active {
    background-color: #998675;
    color: #fff;
}

.projects {
    padding: 75px 0 0 0;
}

.projects-title {
    display: block;
    font-family: 'raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
}

.projects-txt {
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    max-width: 757px;
    margin: 15px auto 0;
}

.projects-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px auto 0;
}

.projects-btn {
    width: 120px;
    min-height: 32px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    background-color: transparent;
    margin: 0 10px 0 0;
    padding: 0;
}

.projects-btn:hover {
    background-color: #998675;
    color: #fff;
}

.projects-btn:active {
    color: #8c8c8c;
    background-color: transparent;
}

.all-btn {
    width: 70px;
    height: 32px;
}

.photo-btn {
    width: 135px;
    height: 32px;
    margin: 0;
}

.projects-cards {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto 0;
}

.projects-item {
    max-width: 370px;
    height: 310px;
    margin: 0 30px 30px 0;
    background-color: #fbfaf8;
    padding: 0 0 27px 0;
    position: relative;
}

.projects-item-pic {
    display: block;
    width: 100%;
}

.projects-item-btn {
    display: none;
    width: 29px;
    height: 29px;
    border: none;
    outline: none;
    fill: #fff;
    background-color: transparent;
    padding: 0;
}

.projects-item-btn-left {
    position: absolute;
    top: 105px;
    left: 140px;
}

.projects-item-btn-right {
    position: absolute;
    top: 105px;
    left: 185px;
}

.projects-item-btn:hover {
    fill: #c7b299;
}

.projects-item-btn:active {
    fill: #fff;
}

.projects-item-wrp {
    background-color: #fbfaf8;
    padding: 28px;
    position: relative;
}

.projects-item-wrp::before {
    content: '';
    border: 20px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    top: -35px;
    left: 25px;
}

.projects-item-title {
    font-family: 'raleway';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    display: block;
}

.projects-item-txt {
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
    margin: 3px 0 0 0;
}


.projects-item:hover .projects-item-pic {
    filter: brightness(40%);
}

.projects-item:hover .projects-item-wrp {
    background-color: #362f2d;
}

.projects-item:hover .projects-item-title {
    color: #fff;
}

.projects-item:hover .projects-item-txt {
    color: #c7b299;
}

.projects-item:hover .projects-item-wrp::before {
    border-bottom: 15px solid #362f2d;
}

.projects-item:hover .projects-item-btn {
    display: block;
}

.load-more-btn {
    display: block;
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    outline: none;
    border: none;
    font-family: 'raleway';
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    margin: 10px auto 0;
}

.load-more-btn:hover {
    background-color: #fff;
    color: #998675;
    border: 1px solid #998675;
    box-sizing: border-box;
}

.load-more-btn:active {
    background-color: #998675;
    color: #fff;
}

.video-section {
    height: 705px;
    width: 100%;
    margin: 80px 0 0 0;
    position: relative;
}

.video-play {
    width: 100%;
}

.video-wrp {
    max-width: 625px;
    margin: auto;
    position: absolute;
    top: 206px;
    left: 647px;
}

.video-play-btn {
    display: flex;
    outline: none;
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 0;
}

.video-play-btn-svg {
    margin: auto;
    fill: #fff;
}

.video-play-btn:hover .video-play-btn-svg {
    fill: #998675;
}

.video-play-btn:active .video-play-btn-svg {
    fill: #fff;
}

.video-play-btn--hide {
    display: none;
}

.video-title {
    display: block;
    font-family: 'raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 42px 0 0 0;
    text-align: center;
}

.video-txt {
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin: 14px 0 0 0;
}

.video-time {
    display: block;
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
    text-align: center;
    margin: 27px 0 0 0;
}

.devices {
    background-color: #fbfaf8;
    display: flex;
    justify-content: space-between;
    padding: 79px 19% 0 22%;
}

.devices-img {
    max-width: 423px;
    height: 616px;
}

.devices-desc {
    max-width: 680px;
    margin: 110px 0 0 0;
}

.devices-desc-title {
    font-family: 'raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.devices-desc-txt {
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 24px 0 0 0;
}

.devices-list {
    list-style-type: none;
    padding: 0 0 0 100px;
    margin: 30px 0 0 0;
}

.devices-list-item {
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    position: relative;
}

.devices-list-item:before {
    content: '';
    background-image: url(../img/dvc_list.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: -50px;
}

.stat {
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 69px 0 85px 0;
}

.stat-container {
    max-width: 935px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.stat-wrp {
    width: 136px;
    margin: 0;
    position: relative;
}

.stat-wrp:after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    bottom: -25px;
    left: 50px;
}

.stat-svg {
    fill: #fff;
    display: block;
    margin: 0 auto;
}

.stat-info {
    display: block;
    text-align: center;
    font-family: 'montserrat';
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #fff;
    margin: 30px 0 12px 0;
}

.stat-info-txt {
    display: block;
    text-align: center;
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
}

.posts {
    padding: 75px 0 0 0;
}

.posts-title {
    display: block;
    text-align: center;
    font-family: 'raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.posts-txt {
    display: block;
    text-align: center;
    max-width: 830px;
    margin: 15px auto 0;
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.posts-container {
    display: flex;
    margin: 35px auto 0;
    max-width: 1170px;
    flex-wrap: wrap;
}

.article {
    max-width: 370px;
    margin: 0 30px 0 0;
    position: relative;
}

.article-img {
    display: block;
}

.article-date {
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.date {
    display: block;
    font-family: 'montserrat';
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    margin: 0;
    padding: 7px 0;
}

.month {
    display: block;
    font-family: 'roboto';
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    text-align: center;
    margin: 0;
    padding: 2px 0;
}

.article-wrp {
    padding: 7%;
}

.article-title {
    display: block;
    font-family: 'raleway';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.article-txt {
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 14px auto 19px;
}

.article-link {
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    text-decoration: none;
    position: relative;
}

.article-link:after {
    content: '';
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
    position: absolute;
    top: 2px;
    right: -16px;
}

.article-link:hover {
    color: #fff;
}

.article-link:active {
    color: #c7b299;
}

.article-link:hover.article-link:after {
    border-left: 5px solid #fff;
}

.article-link:active.article-link:after {
    border-left: 5px solid #c7b299;
}

.article:hover .article-img {
    filter: brightness(40%);
}

.article:hover .date {
    background-color: #c7b299;
}

.article:hover .month {
    background-color: #a48d72;
}

.article:hover .article-wrp {
    background-color: #362f2d;
}

.article:hover .article-title {
    color: #c7b299;
}

.article:hover .article-txt {
    color: #fff;
}

.posts-btn-wrp {
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
}

.posts-btn {
    outline: none;
    border: none;
    background-color: transparent;
    fill: #d1d1d1;
    padding: 0;
}

.posts-left-btn {
    margin: 0 6px 0 0;
}

.posts-btn:hover {
    fill: #c7b299;
}

.posts-btn:active {
    fill: #d1d1d1;
}

.footer-top {
    background-image: url(../img/footer_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 140px 0;
    margin: 80px 0 0 0;
}

.footer-img {
    display: block;
    margin: 0 90px 0 0;
    width: 210px;
}

.footer-img:hover {
    filter: brightness(60%);
}

.first-footer-img {
    height: 127px;
}

.second-footer-img {
    height: 210px;
}

.third-footer-img {
    height: 130px;
}

.fourth-footer-img {
    height: 164px;
}

.footer-center {
    background-color: #191919;
    padding: 75px 0;
    display: flex;
    justify-content: center;
}

.footer-wrp {
    width: 270px;
    margin: 0 30px 0 0;
}

.footer-wrp .logo {
    margin-bottom: 23px;
}

.footer-txt {
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    margin: 0;
}

.footer-main-txt {
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    margin: 0;
}

.footer-btn {
    font-family: 'montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 22px 0 0 0;
    position: relative;
}

.footer-btn:after {
    content: '';
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
    position: absolute;
    top: 5px;
    left: 85px;
}

.footer-btn:hover {
    color: #a48d72;
}

.footer-btn:active {
    color: #d1d1d1;
}

.footer-btn:hover.footer-btn:after {
    border-left: 5px solid #a48d72;
}

.footer-btn:active.footer-btn:after {
    border-left: 5px solid#d1d1d1;
}

.footer-title {
    width: 100%;
    display: block;
    margin: 22px 0 20px 0;
    font-family: 'raleway';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
}

time {
    display: block;
    margin: 0;
    font-family: 'montserrat';
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}

.footer-line {
    width: 270px;
    height: 2px;
    background-color: #252525;
    margin: 22px 0 15px 0;
}

.footer-posts-box:hover .footer-subtitle {
    color: #fff;
}

.footer-posts-box:hover .footer-txt {
    color: #c7b299;
}

.link-txt {
    color: #00bff3;
}

.bit {
    color: #959595;
}

.footer-wrp-widget {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.widget {
    display: block;
    width: 130px;
    height: 98px;
    margin: 0 10px 10px 0;
}

.widget:hover {
    filter: brightness(60%)
}

.footer-bottom {
    background-color: #111111;
    padding: 45px 19.5% 50px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left {
    display: flex;
}

.footer-bottom-txt {
    font-family: 'montserrat';
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    margin: 0;
}

.footer-span {
    color: #959595;
}

.footer-link {
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 0 0 24px;
}

.footer-link:hover {
    color: #c7b299;
}

.footer-link:active {
    color: #555555;
}

.margin-right {
    margin-right: 0
}

.img-filter {
    filter: brightness(220%);
}

@media (max-width: 1440px) {
    .video-wrp {
        left: 400px;
    }
}

@media (max-width: 1180px) {
    .menu {
        justify-content: center;
    }

    .logo {
        margin-right: 33px;
    }

    .projects-cards {
        justify-content: center;
    }

    .posts-container {
        justify-content: center;
    }

    .video-wrp {
        left: 300px;
    }

    .devices {
        width: 100%;
        padding: 50px 0;
        flex-direction: column;
        background-image: url(../img/iphone_in_hand_opacity.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .devices-img {
        display: none;
    }

    .devices-desc {
        width: 100%;
        margin: 0 auto;
    }

    .devices-desc-title {
        display: block;
        text-align: center;
    }

    .devices-desc-txt {
        max-width: 550px;
        margin: 25px;
    }

    .devices-list-item {
        font-size: 14px;
    }

    .footer-top {
        flex-wrap: wrap;
    }

    .footer-center {
        flex-wrap: wrap;
    }

    .footer-img {
        margin-bottom: 60px;
    }

    .footer-wrp-widget {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0 0 0;
    }

    .widget {
        margin-right: 10px;
    }

    .footer-title {
        text-align: center;
        margin: 0 auto;
    }

    .footer-bottom {
        display: block;
    }

    .footer-bottom-left {
        justify-content: center;
    }

    .footer-bottom-txt {
        text-align: center;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 980px) {
    body {
        width: 100%;
    }

    .header {
        padding: 30px;
    }

    .logo {
        margin: 0;
    }

    .menu {
        width: 100%;
        position: relative;
    }

    .nav-bar {
        visibility: hidden;
    }

    .nav-bar-list {
        margin: 0;
        flex-wrap: wrap;
    }

    .hamburger-menu {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.nav-bar-list {
        visibility: visible;
        left: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        top: 50px;
        right: 32px;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -15px;
    }

    .menu__btn>span::after {
        content: '';
        top: 15px;
    }

    .nav-bar-list {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #c7b299;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }

    .header-link {
        display: block;
        padding: 15px 24px;
        text-decoration: none;
        font-family: 'montserrat';
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        color: #fff;
        transition-duration: .25s;
    }

    .header-link:hover {
        background-color: #998675;
    }

    .carusel {
        display: none;
    }

    .features {
        flex-wrap: wrap;
        margin: 20px 0 0 0;
    }

    .ideas {
        display: none;
    }

    .purchase {
        display: none;
    }

    .projects {
        padding: 0 0 50px 0;
    }

    .projects-txt {
        width: 100%;
    }

    .projects-btn {
        width: 100px;
        margin: 0 10px 10px 0;
    }

    .projects-cards {
        width: 100%;
        justify-content: center;
    }

    .projects-item {
        margin: 0 0px 30px 0;
    }

    .margin-right {
        margin-right: 0;
    }

    .project-item-margin {
        margin-right: 5px;
    }

    .video-section {
        display: none;
    }

    .stat {
        padding: 30px 0 60px 0;
    }

    .stat-container {
        max-width: 400px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .stat-wrp {
        margin: 0 0 40px 0;
    }

    .posts-txt {
        width: 100%;
    }

    .posts-container {
        width: 100%;
        justify-content: center;
    }

    .article {
        margin: 0 5px 5px 0;
    }

    .footer-top {
        padding: 50px 0 0 0;
        flex-wrap: wrap;
    }

    .footer-img {
        margin: 0 20px 50px 20px;
    }

    .footer-center {
        display: none;
    }

    .footer-bottom {
        padding: 30px;
    }

    .footer-bottom-left {
        max-width: 430px;
        margin: 0 auto 30px;
    }
}

@media (max-width: 480px) {
    .projects-buttons {
        max-width: 440px;
        align-items: center;
    }

    .projects-item {
        margin: 0 0 30px 0;
    }

    .devices-list {
        padding: 0 0 0 75px;
    }

    .posts-txt {
        max-width: 440px;
    }

    .footer-img {
        margin: 0 20px 50px 20px;
    }
}

@media (max-width: 425px) {
    .stat-container {
        max-width: 365px;
    }

    .article {
        margin: 0 0 5px 0;
    }

    .article-img {
        width: 100%;
    }
}